python-input_output/__pycache__
python-input_output/my_file_0.txt
python-input_output/my_first_file.txt
python-input_output/1-main.py
python-input_output/2-main.py
python-input_output/3-main.py
python-input_output/4-main.py
python-input_output/5-main.py
python-input_output/6-main.py
python-input_output/7-main.py
python-input_output/8-main.py
python-input_output/9-main.py
python-input_output/10-main.py
python-input_output/11-main.py
python-input_output/12-main.py`
python-input_output/file_append.txt
python-input_output/my_dict.json
python-input_output/my_list.json
python-input_output/my_set.json
python-input_output/my_fake.json
python-input_output/add_item.json
python-input_output/8-main_2.py
python-input_output/8-my_class.py
python-input_output/8-my_class_2.py
